html{
    scroll-behavior: smooth;
}


body{

    

     /* background   */
    background-color: #f2e7dc;

    /*Text*/
    color: #0d0d0d;

    text-align: justify;
    /* Alinhamento e Tamnho*/
    width: 100%;
            
    margin: auto;
}

section{
    padding: 64px 256px ;
            
}

        
        
table {

    width: 100%;            
}

td {

    background-color: #A9D9D0;
    border: #000 solid 1px;
    border-radius: 4px;
    text-align: center;

            
}

th{
    border: #000 solid 1px;
    border-radius: 4px;
    text-align: center;

}
        
tr {

    background-color: #038C7F;
}

p {

    text-align: justify;

    text-indent: 50px;

}

h1, h2, h3{

    text-align: center;

}

h3{

    color: #000;
}

a:link{
    color: #f2e7dc;/* link normal*/
}

a:visited{
    color: #95bfb8;/* link visitado*/
}

a:hover{

    color: #025454;/* mouse sobre o link*/

}

a:active{

    color: #0d0d0d;/* link selecionado*/
}
        /*imagem*/
img {

    width: 300px;

    display: block;

    margin: auto;

    border-radius: 50px;

}

series {

    background-color: greenyellow;

    color: #027373;

    text-align: center;
}

#sectionHP, #sectionPJ, #sectionCV {

            background-color: #A9D9D0;
}

#header{

background-color: #038C7F;

color: #f2e7dc;

padding: 20px;

margin-bottom: 0px;

}

#sumary{


    background-color: #038C7F;

    color: #f2e7dc;

    padding: 20px;

    margin-bottom: 50px;

    border-radius: 0 0 50px 50px;

    display: flex;

    flex-direction: column;

    align-items: center;



}

footer{


    background-color: #038C7F;

    width: 100%;

    text-align: center;

    padding: 30px 0px;
}

#yourLibrary{


    text-indent: 0px;

    text-align: center;
}

    